

.container{
  max-width: 690px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}



.item{
  color: black;
  background-color: #f0f0f0;
  font-size: 1.69rem;
  padding: 20px;
  text-align: center;
  border: black solid 2px;
  cursor:pointer
}
.item:hover
 {
   background-color: #ea7186;
   color: black;
   box-shadow: 5,5,0,5,rgb(143, 49, 49);
 }
 

#borderForItem{
  border: #555555 solid 1px;
}

#refreshB{
  max-width: 50px;
  max-height: 50px;

}
div{
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display: grid;

  grid-template-areas:
  'header header header'
  'nav main aside'
  'footer footer footer';

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 69px 1fr 69px;
}
