
.container{
    max-width: 690px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  
  
  .item{
    color: black;
    font-size: 1.69rem;
    padding: 20px;
    text-align: center;
  }

  #refreshB{
    max-width: 50px;
    max-height: 50px;
  
  }
  div{
    text-align: center;
  }

 .images{
    max-width: 100px; /*width of your image*/
    height:100px; /*height of your image*/
    /*background-image:url('yourimage.file');*/
    margin:0; /* If you want no margin */
    padding:0; /*if your want to padding */
 }
 .buttons{
    color: purple;
    background-color: yellow;
 font-size: 1.69rem;
 padding: 20px;
 text-align: center;
 }
 