

.container{
  max-width: 690px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}



.item{
  color: black;
  font-size: 1.69rem;
  padding: 20px;
  text-align: center;
}

#borderForItem{
  border: #555555 solid 1px;
}

#refreshB{
  max-width: 50px;
  max-height: 50px;

}
div{
  text-align: center;
}

