
.container{
    max-width: 690px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    
  }
  .waiting{
  align-content: center;
  margin: auto;
  }


 