
.container{
  margin: 100px auto;
  display: grid;
  justify-items: center;
  /*max-width: 690px;*/
  /*align-items: center;*/
  /*  grid-template-columns: repeat(1, 1fr);*/
}

/*  .waiting{
  align-content: center;
  margin: auto;
  }*/


