h1{
  /*text-type*/
  font-family: 'DM Sans', sans-serif;
  font-size: 70px;
}

.rock{

}
.paper{

}
.scissors{

}

.flexbox-container{
  display:flex;
  /*how much space between there should be between*/
  margin: 100px;
}
.flex-item {
  flex: 5 5 5em;
}
img{
  /*smoother highlight*/
  transition: transform 0.5s;
}
/*mouseover highlights*/
img:hover {
  /*how much bigger the images should grow when they are hovered*/
  transform: scale(1.2);
}
/*this will be applied when you shrink the screen to 1000px or smaller*/
@media screen and (max-width: 1700px) {
  img{
    width: 250px;
  }
  /*this will be applied when you shrink the screen to 1000px or smaller*/
  .flexbox-container{
    /*converts the images to portrait*/
    /*this one needs display:flex to work which exist in flexbox-container*/
    flex-direction: column;
    /*how much space between there should be between*/
    margin: 10px;
    /*this one needs display:flex to work which exist in flexbox-container*/
    align-items: center;
  }
}


