header{
  display: compact;
  font-family: Bahnschrift;
}

.ROCK{

}
.PAPER{

}
.SCISSORS{

}

.flexbox-container{
  display:flex;
  margin: 100px;
}
.flex-item {
  flex: 5 5 5em;

}



/*img{*/
/*  width: 150px;*/
/*  height: auto;*/
/*}*/













/*!*text-style on headline 1*!*/
/*h1 {*/
/*  font-family: Bahnschrift;*/
/*}*/
/*!*text-style for names on figures 2*!*/
/*h2 {*/
/*  font-family: Bahnschrift;*/
/*}*/

/*a:hover{*/
/*  background-color: forestgreen;*/
/*}*/
/*h2:hover {*/
/*  color: forestgreen;*/
/*}*/

