*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display: grid;

  grid-template-areas:
  'header header header'
  'nav main aside'
  'footer footer footer';

  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 69px 1fr 69px;
}

header,
nav,
main,
aside,
footer{
  color: #4c9d72;
  border: black solid 1px;
  font-size: 1.2rem;
  /*padding: 20px;*/
}

header{
  grid-area: header;
  background-color: #a767ff;
}
nav{
  grid-area: nav;
  background-color: #ea7186;
}
main{
  grid-area: main;
  background-color: #fefced;
}
aside{
  grid-area: aside;
  background-color: #f2c86e;
}
footer{
  grid-area: footer;
  background-color: #a767ff;
}
